.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 15px white;
  width: 30%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 15px;
  padding: 1em;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}
